<!DOCTYPE html>
<html>
  <head>
    <title>Checkout Page</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <h1>Checkout</h1>
      <input type = "submit">
    </form>
  </body>
</html>
