<!DOCTYPE html>
<html>
  <head>
    <title>Checkout Page</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <h1>Checkout</h1>
      <p>Item to purchase:</p><input type="text" id="item" name="item">
      <input id="submit" type = "submit" value="submit">
    </form>
  </body>
</html>



